{% extends 'base.html' %}

{% block title %}Register{% endblock %}

{% block content %}
    <form class="needs-validation" method="post" novalidate>
        <div class="card my-2">
            <div class="card-header">
                Create new account
            </div>
            <div class="card-body">
                <div class="form-group">
                    <label for="username">Username</label>
                    <input class="form-control" name="username" id="username" placeholder="Enter username" required autofocus>
                    <div class="invalid-feedback">
                        Please provide a username.
                    </div>
                </div>
                <div class="form-group">
                    <label for="fullname">Full name</label>
                    <input class="form-control" name="fullname" id="fullname" placeholder="Enter full name" required>
                    <div class="invalid-feedback">
                        Please provide a full name.
                    </div>
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" name="password" id="password" placeholder="Password" required>
                    <div class="invalid-feedback">
                        Please choose a password.
                    </div>
                </div>
                <div class="form-group">
                    <label for="confirm_password">Confirm password</label>
                    <input type="password" class="form-control" name="confirm_password" id="confirm_password" placeholder=" Confirm password" required>
                    <div class="invalid-feedback">
                        Passwords don't match.
                    </div>
                </div>
                <div class="mt-4">
                    <button type="submit" class="btn btn-primary">Register</button>
                    <small class="ml-2"> or <a href="{{ url_for('auth.login') }}">sign in</a> to existing account</small>
                </div>
            </div>
        </div>
    </form>

    <script>
        var password = document.getElementById("password"),
            confirm_password = document.getElementById("confirm_password");
        function validatePassword(){
          if(password.value != confirm_password.value) {
            confirm_password.setCustomValidity("Passwords don't match.");
          } else {
            confirm_password.setCustomValidity('');
          }
        }
        password.onchange = validatePassword;
        confirm_password.onkeyup = validatePassword;
    </script>
{% endblock %}