{% extends 'base.html' %}

{% block title %}Demo requests{% endblock %}

{% block content %}
    <div class="my-4">
        <h5 class="mb-4">Demo requests:</h5>
        {% if requests|length == 0 %}
            <div class="ml-4 text-muted">
                There aren't any demo requests received by this time
            </div>
        {% endif %}
        {% for r in requests %}
            <div class="row m-2 {{ "font-weight-bold" if not r.was_read else "text-muted"}}">
                <div class="col-0"><a {{ "class=text-muted" if r.was_read else "style=color:black" }} href="">{{ '<i class="far fa-envelope"></i>'|safe if not r.was_read else '<i class="far fa-envelope-open"></i>'|safe }}</a></div>
                <div class="col text-nowrap">
                    <div><a {{ "class=text-muted" if r.was_read else "style=color:black" }} href="">{{ r.request.first_name }} {{ r.request.last_name }} ({{ r.request.organization_name }})</a></div>
                    <div><a {{ "class=text-muted" if r.was_read else "style=color:black" }} href=""><small id="t{{ loop.index0 }}">{{ r.created_on }}</small></a></div>
                </div>
                <div class="col">
                    <div><a {{ "class=text-muted" if request.was_read else "style=color:black" }} href="">{{ r.request.email }}</a></div>
{#                    <div><a {{ "class=text-muted" if request.was_read else "style=color:black" }} href=""><small>Document #{{ request.document_id }}</small></a></div>#}
                </div>
                <div class="col-1 text-nowrap">
                    <a class="text-muted" href="">Dismiss</a>
                </div>
            </div>
            {{ "<hr/>"|safe if not loop.last }}
        {% endfor %}
    </div>
    <div class="btn-toolbar my-4" role="toolbar">
        <a class="btn btn-secondary mr-2" href="{{ url_for("practice.index") }}">Close</a>
    </div>

    <script>
        convertTimeDateToLocal({{ requests|length }});
    </script>
{% endblock %}


