{% extends 'base.html' %}

{% block title %}Roles and Permissions{% endblock %}

{% block content %}
    <table class="table my-2">
        <thead class="thead-light">
            <tr>
                <th class="align-middle" scope="col">Role</th>
                <th class="align-middle" scope="col">Permission</th>
                <th class="align-middle text-center" scope="col">Assigned</th>
            </tr>
        </thead>
        <tbody>
            {% for role in roles %}
                <tr>
                    <th scope="row">{{ role.role_name }}</th>
                    <td>
                        {% for permission in role.permissions %}
                            <div>{{ permission }}</div>
                        {% endfor %}
                    </td>
                    <td class="text-center">
                        {% for assigned in role.assigned %}
                            <div><input type="checkbox" disabled {{ "checked" if assigned == "1" }}></div>
                        {% endfor %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="btn-toolbar my-4" role="toolbar">
            <a class="btn btn-secondary" style="width: 90px;" href="{{ url_for("practice.index") }}">Back</a>
    </div>
{% endblock %}


