<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

    <title>Promising Practice #{{ practice.id }}</title>
</head>
<body>
    <div class="container">
        <form method="post">
            <input type="hidden" name="id" value="{{ practice.id }}">
            <input type="hidden" name="status" value="{{ practice.status }}">
            <nav class="navbar navbar-light bg-light">
                <div class="form-inline">
                    <a class="btn btn-secondary" style="width: 80px;" href="/practice/{{ practice.id }}?page={{ page }}&query={{ query }}">Cancel</a>
                    <button class="btn btn-danger ml-sm-2" style="width: 70px;" type="submit">Save</button>
                </div>
            </nav>
            <table class="table">
                <thead class="thead-light">
                    <tr>
                        <th scope="col" style="width: 10%">Field</th>
                        <th scope="col" style="width: 90%">Value</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">ID</th>
                        <td>{{ practice.id }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Status</th>
                        {% if practice.status == "APPROVED" %}
                            {% set status_badge = "badge-success" %}
                        {% elif practice.status == "REVOKED" %}
                            {% set status_badge = "badge-warning" %}
                        {% else %}
                            {% set status_badge = "badge-secondary" %}
                        {% endif %}
                        <td><h5><span class="badge {{ status_badge }}">{{ practice.status|capitalize }}</span></h5></td>
                    </tr>
                    <tr >
                        <th scope="row">Title</th>
                        <td>
                            <textarea class="form-control" name="title">{{ practice.title }}</textarea>
                        </td>
                    </tr>
                    <tr >
                        <th scope="row">Name of Intervention</th>
                        <td>
                            <textarea class="form-control" name="name_of_intervention">{{ practice.name_of_intervention }}</textarea>
                        </td>
                    </tr>
                    <tr >
                        <th scope="row">Summary</th>
                        <td>
                            <textarea class="form-control" rows="5" name="summary">{{ practice.summary }}</textarea>
                        </td>
                    </tr>
                    <tr >
                        <th scope="row">Target Population</th>
                        <td>
                            <textarea class="form-control" name="target_population">{{ practice.target_population }}</textarea>
                        </td>
                    </tr>
                    <tr >
                        <th scope="row">Location</th>
                        <td>
                            <textarea class="form-control" rows="1" name="location">{{ practice.location }}</textarea>
                        </td>
                    </tr>
                    <tr >
                        <th scope="row">Evaluation</th>
                        <td>
                            <textarea class="form-control" rows="5" name="evaluation">{{ practice.evaluation }}</textarea>
                        </td>
                    </tr>
                    <tr >
                        <th scope="row">State</th>
                        <td>
                            <select class="custom-select" multiple name="state">
                                {% for state in states %}
                                    <option {% if state in practice.state %}selected{% else %}{% endif %} value="{{ state }}">{{ state }}</option>
                                {% endfor %}
                            </select>
                        </td>
                    </tr>
                    <tr >
                        <th scope="row">Citation</th>
                        <td>
                            <textarea class="form-control" name="citation">{{ practice.citation }}</textarea>
                        </td>
                    </tr>
                    <tr >
                        <th scope="row">Intervention Goal</th>
                        <td>
                            <textarea class="form-control" rows="1" name="intervention_goal">{{ practice.intervention_goal }}</textarea>
                        </td>
                    </tr>
                    <tr >
                        <th scope="row">Implementers</th>
                        <td>
                            <textarea class="form-control" rows="1" name="implementers">{{ practice.implementers }}</textarea>
                        </td>
                    </tr>
                    <tr >
                        <th scope="row">County</th>
                        <td>
                            <textarea class="form-control" rows="1" name="county">{{ practice.county }}</textarea>
                        </td>
                    </tr>
                    <tr >
                        <th scope="row">FIPS</th>
                        <td>
                            <textarea class="form-control" rows="1" name="fips">{{ practice.fips }}</textarea>
                        </td>
                    </tr>
                    <tr >
                        <th scope="row">Program Components</th>
                        <td>
                            <textarea class="form-control" rows="1" name="program_components">{{ practice.program_components }}</textarea>
                        </td>
                    </tr>
                    <tr >
                        <th scope="row">Population</th>
                        <td>
                            <textarea class="form-control" rows="1" name="population">{{ practice.population }}</textarea>
                        </td>
                    </tr>
                </tbody>
            </table>
        </form>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
</body>
</html>