<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

    <title>Promising Practice #{{ practice.id }}</title>
</head>
<body>
    <form method="post">
        <div class="container">
            <nav class="navbar navbar-light bg-light">
                <div class="form-inline">
                    <input type="hidden" name="status" value="{{ practice.status }}">
                    <a class="btn btn-secondary" style="width: 80px;" href="/?page={{ page }}&query={{ query }}">Back</a>
                    <a class="btn btn-primary ml-sm-2" style="width: 70px;" href="/practice/edit/{{ practice.id }}?page={{ page }}&query={{ query }}">Edit</a>
                    {% if practice.status == "APPROVED" %}
                        <button class="btn btn-outline-danger ml-sm-4" style="width: 90px;" type="submit">Revoke</button>
                    {% else %}
                        <button class="btn btn-success ml-sm-4" style="width: 90px;" type="submit">Approve</button>
                    {% endif %}
                </div>
            </nav>
            <table class="table">
                <thead class="thead-light">
                    <tr>
                        <th scope="col" style="width: 10%">Field</th>
                        <th scope="col" style="width: 90%">Value</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">ID</th>
                        <td>{{ practice.id }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Status</th>
                        {% if practice.status == "APPROVED" %}
                            {% set status_badge = "badge-success" %}
                        {% elif practice.status == "REVOKED" %}
                            {% set status_badge = "badge-warning" %}
                        {% else %}
                            {% set status_badge = "badge-secondary" %}
                        {% endif %}
                        <td><h5><span class="badge {{ status_badge }}">{{ practice.status|capitalize }}</span></h5></td>
                    </tr>
                    <tr >
                        <th scope="row">Title</th>
                        <td>{{ practice.title }}</td>
                    </tr>
                    <tr >
                        <th scope="row">Name of Intervention</th>
                        <td>{{ practice.name_of_intervention }}</td>
                    </tr>
                    <tr >
                        <th scope="row">Summary</th>
                        <td>{{ practice.summary }}</td>
                    </tr>
                    <tr >
                        <th scope="row">Target Population</th>
                        <td>{{ practice.target_population }}</td>
                    </tr>
                    <tr >
                        <th scope="row">Location</th>
                        <td>{{ practice.location }}</td>
                    </tr>
                    <tr >
                        <th scope="row">Evaluation</th>
                        <td>{{ practice.evaluation }}</td>
                    </tr>
                    <tr >
                        <th scope="row">State</th>
                        <td>
                            {% for state in practice.state %}
                                <span class="badge badge-secondary">{{ state }}</span>
                            {% endfor %}
                        </td>
                    </tr>
                    <tr >
                        <th scope="row">Citation</th>
                        <td>{{ practice.citation }}</td>
                    </tr>
                    <tr >
                        <th scope="row">Intervention Goal</th>
                        <td>
                            {% for goal in practice.intervention_goal %}
                                <span class="badge badge-secondary">{{ goal }}</span>
                            {% endfor %}
                        </td>
                    </tr>
                    <tr >
                        <th scope="row">Implementers</th>
                        <td>
                            {% for implementer in practice.implementers %}
                                <span class="badge badge-secondary">{{ implementer }}</span>
                            {% endfor %}
                        </td>
                    </tr>
                    <tr >
                        <th scope="row">County</th>
                        <td>{{ practice.county }}</td>
                    </tr>
                    <tr >
                        <th scope="row">FIPS</th>
                        <td>{{ practice.fips }}</td>
                    </tr>
                    <tr >
                        <th scope="row">Program Components</th>
                        <td>
                            {% for component in practice.program_components %}
                                <span class="badge badge-secondary">{{ component }}</span>
                            {% endfor %}
                        </td>
                    </tr>
                    <tr >
                        <th scope="row">Population</th>
                        <td>
                            {% for population in practice.population %}
                                <span class="badge badge-secondary">{{ population }}</span>
                            {% endfor %}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </form>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
</body>
</html>