<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"
            integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"
          integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4"
          crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"
            integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css"
          integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt"
          crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i&amp;subset=latin-ext"
          rel="stylesheet">
    <title>Modal</title>

    <script>
        $(function () {
            $("#frmDemoRequest").submit(function (event) {
                event.preventDefault();
                $.ajax({
                    type: "post",
                    url: "/api/v1/demorequest",
                    data: JSON.stringify({
                        "first_name": $("#inputFirstName").val(),
                        "last_name": $("#inputLastName").val(),
                        "organization_name": $("#inputOrganizationName").val(),
                        "organization_type": $("#inputOrganizationType").val(),
                        "role": $("#inputRoleInOrganization").val(),
                        "email": $("#inputEmail").val(),
                        "phone": $("#inputPhone").val(),
                        "comments": $("#inputComments").val()
                    }),
                    contentType: "application/json",
                    dataType: "json"
                }).fail(function () {
                    alert("Sorry, there was a problem with your request. Please try again later.");
                });
                $("#requestDemoModal").modal("toggle");
                $("#frmDemoRequest").trigger("reset");
            })
        })
    </script>
</head>
<body>
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#requestDemoModal">
    Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="requestDemoModal" tabindex="-1" role="dialog" aria-labelledby="requestDemoLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <form class="modal-content" id="frmDemoRequest">
            <div class="modal-header">
                <h5 class="modal-title" id="requestDemoLabel">Request a demo</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <div class="form-row">
                        <div class="col mr-2">
                            <label for="inputFirstName">First name</label>
                            <input required type="text" class="form-control" id="inputFirstName">
                        </div>
                        <div class="col ml-2">
                            <label for="inputLastName">Last name</label>
                            <input required type="text" class="form-control" id="inputLastName">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-row">
                        <div class="col mr-2">
                            <label for="inputOrganizationName">Organization name</label>
                            <input required type="text" class="form-control" id="inputOrganizationName">
                        </div>
                        <div class="col-4 ml-2">
                            <label for="inputOrganizationType">Type of organization</label>
                            <select class="form-control" id="inputOrganizationType">
                                <option selected value="">Choose...</option>
                                <option value="Federal Agency">Federal Agency</option>
                                <option value="Sate">State</option>
                                <option value="Advocacy">Advocacy</option>
                                <option value="Coalition">Coalition</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputRoleInOrganization">Role in organization</label>
                    <input type="text" class="form-control" id="inputRoleInOrganization">
                </div>
                <div class="form-group">
                    <div class="form-row">
                        <div class="col mr-2">
                            <label for="inputEmail">Email address</label>
                            <input required type="email" class="form-control" id="inputEmail">
                        </div>
                        <div class="col ml-2">
                            <label for="inputPhone">Phone number</label>
                            <input type="text" class="form-control" id="inputPhone">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputComments">Comments</label>
                    <textarea class="form-control" id="inputComments" rows="3"></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" id="btnCloseRequest">Close</button>
                <button type="submit" class="btn btn-primary" id="btnDemoRequest">Send request</button>
            </div>
        </form>
    </div>
</div>
</body>
</html>