{% extends 'base.html' %}

{% block title %}Create new practice{% endblock %}

{% block content %}
    <form method="post">
        <table class="table my-2">
            <thead class="thead-light">
                <tr>
                    <th scope="col" style="width: 10%">Field</th>
                    <th scope="col" style="width: 90%">Value</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">ID</th>
                    <td>_new_</td>
                </tr>
                <tr>
                    <th scope="row">Status</th>
                    <td><h5><span class="badge badge-secondary">Draft</span></h5></td>
                </tr>
                <tr >
                    <th scope="row">Title</th>
                    <td>
                        <textarea class="form-control" name="title" required></textarea>
                    </td>
                </tr>
                <tr >
                    <th scope="row">Intervention name</th>
                    <td>
                        <select class="custom-select" name="intervention_name">
                            <option value="Not selected">Not selected</option>
                            {% for intervention_name in config.INTERVENTION_NAMES %}
                                <option value="{{ intervention_name }}">{{ intervention_name }}</option>
                            {% endfor %}
                        </select>
                    </td>
                </tr>
                <tr >
                    <th scope="row">Summary</th>
                    <td>
                        <textarea class="form-control" rows="5" name="summary"></textarea>
                    </td>
                </tr>
                <tr >
                    <th scope="row">Link</th>
                    <td>
                        <input class="form-control" type="url" name="link"></input>
                    </td>
                </tr>
                <tr >
                    <th scope="row">Citation</th>
                    <td>
                        <textarea class="form-control" name="citation"></textarea>
                    </td>
                </tr>
                <tr >
                    <th scope="row">Program success</th>
                    <td>
                        <select class="custom-select" name="program_success">
                            <option value="Not selected" selected>Not selected</option>
                            {% for program_success in config.PROGRAM_SUCCESSES %}
                                <option value="{{ program_success }}">{{ program_success }}</option>
                            {% endfor %}
                        </select>
                    </td>
                </tr>
                <tr >
                    <th scope="row">City</th>
                    <td>
                        <input class="form-control" name="city"></input>
                    </td>
                </tr>
                <tr >
                    <th scope="row">Geography</th>
                    <td>
                        <select class="custom-select" multiple name="geography">
                            {% for state in config.STATES %}
                                <option value="{{ state }}">{{ state }}</option>
                            {% endfor %}
                        </select>
                    </td>
                </tr>
                <tr >
                    <th scope="row">Region</th>
                    <td>
                        <select class="custom-select" multiple name="region">
                            {% for region in config.REGIONS %}
                                <option value="{{ region }}">{{ region }}</option>
                            {% endfor %}
                        </select>
                    </td>
                </tr>
                <tr >
                    <th scope="row">Source type</th>
                    <td>
                        <select class="custom-select" name="source_type">
                            <option value="Not selected" selected>Not selected</option>
                            {% for source_type in config.SOURCE_TYPES %}
                                <option value="{{ source_type }}">{{ source_type }}</option>
                            {% endfor %}
                        </select>
                    </td>
                </tr>
                <tr >
                    <th scope="row">Race</th>
                    <td>
                        <select class="custom-select" multiple name="race">
                            {% for race in config.RACES %}
                                <option value="{{ race }}">{{ race }}</option>
                            {% endfor %}
                        </select>
                    </td>
                </tr>
                 <tr >
                    <th scope="row">Intervention goal</th>
                    <td>
                        <select class="custom-select" multiple name="intervention_goal">
                            {% for goal in config.INTERVENTION_GOALS %}
                                <option value="{{ goal }}">{{ goal }}</option>
                            {% endfor %}
                        </select>
                    </td>
                </tr>
                <tr >
                    <th scope="row">Implementers</th>
                    <td>
                        <select class="custom-select" multiple name="implementers">
                            {% for implementer in config.IMPLEMENTERS %}
                                <option value="{{ implementer }}">{{ implementer }}</option>
                            {% endfor %}
                        </select>
                    </td>
                </tr>
                <tr >
                    <th scope="row">Scale</th>
                    <td>
                        <select class="custom-select" multiple name="scale">
                            {% for scale in config.SCALES %}
                                <option value="{{ scale }}">{{ scale }}</option>
                            {% endfor %}
                        </select>
                    </td>
                </tr>
                <tr >
                    <th scope="row">Country</th>
                    <td>
                        <select class="custom-select" multiple name="country">
                            {% for country in config.COUNTRIES %}
                                <option value="{{ country }}">{{ country }}</option>
                            {% endfor %}
                        </select>
                    </td>
                </tr>
                <tr >
                    <th scope="row">Program components</th>
                    <td>
                        <select class="custom-select" multiple name="program_components">
                            {% for component in config.PROGRAM_COMPONENTS %}
                                <option value="{{ component }}">{{ component }}</option>
                            {% endfor %}
                        </select>
                    </td>
                </tr>
                <tr >
                    <th scope="row">Population</th>
                    <td>
                        <select class="custom-select" multiple name="population">
                            {% for population in config.POPULATIONS %}
                                <option value="{{ population }}">{{ population }}</option>
                            {% endfor %}
                        </select>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="btn-toolbar justify-content-between my-4" role="toolbar">
            <div role="group">
                <a class="btn btn-secondary mr-2" style="width: 90px;" href="{{ url_for("practice.index", page=page, query=query) }}">Cancel</a>
                <button class="btn btn-success" style="width: 80px;" type="submit">Create</button>
            </div>
        </div>
    </form>
{% endblock %}