{% extends 'base.html' %}

{% block title %}Review practice {{ practice.id }}{% endblock %}

{% block content %}
    <table class="table my-2">
        <thead class="thead-light">
            <tr>
                <th scope="col" style="width: 10%">Field</th>
                <th scope="col" style="width: 90%">Value</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">ID</th>
                <td>{{ practice.id }}</td>
            </tr>
            <tr>
                <th class="align-middle" scope="row">Status</th>
                <th class="align-middle" scope="row">
                    <div class="btn-toolbar justify-content-between">
                        <h5 class="mt-1"><span class="mt-1 badge {{ "badge-" + styles[practice.status] }}">{{ practice.status|capitalize }}</span></h5>
                        <form action="{{ url_for("practice.action", id=practice.id, query=query, page=page) }}" method="post">
                        {% for action in actions %}
                            {% if "ACTION_" + action["action"] in g.permissions %}
                                <input class="btn {{ styles[action["action"]] }}" style="width: 90px;" name="action" type="submit" value="{{ action["action"]|capitalize }}"/>
                            {% endif %}
                        {% endfor %}
                        </form>
                    </div>
                </th>
            </tr>
            <tr>
                <th scope="row">Title</th>
                <td>{{ practice.title }}</td>
            </tr>
            <tr>
                <th scope="row">Name of Intervention</th>
                <td>{{ practice.name_of_intervention }}</td>
            </tr>
            <tr>
                <th scope="row">Summary</th>
                <td>{{ practice.summary }}</td>
            </tr>
            <tr>
                <th scope="row">Target Population</th>
                <td>{{ practice.target_population }}</td>
            </tr>
            <tr>
                <th scope="row">Location</th>
                <td>{{ practice.location }}</td>
            </tr>
            <tr>
                <th scope="row">Evaluation</th>
                <td>{{ practice.evaluation }}</td>
            </tr>
            <tr>
                <th scope="row">State</th>
                <td>
                {% for state in practice.state %}
                    <span class="badge {% if state in states %}badge-info{% else %}badge-danger{% endif %}">{{ state }}</span>
                {% endfor %}
                </td>
            </tr>
            <tr>
                <th scope="row">Citation</th>
                <td>{{ practice.citation }}</td>
            </tr>
            <tr>
                <th scope="row">Intervention Goal</th>
                <td>
                {% for goal in practice.intervention_goal %}
                    <span class="badge {% if goal in intervention_goals %}badge-info{% else %}badge-danger{% endif %}">{{ goal }}</span>
                {% endfor %}
                </td>
            </tr>
            <tr>
                <th scope="row">Implementers</th>
                <td>
                {% for implementer in practice.implementers %}
                    <span class="badge {% if implementer in implementers %}badge-info{% else %}badge-danger{% endif %}">{{ implementer }}</span>
                {% endfor %}
                </td>
            </tr>
            <tr>
                <th scope="row">County</th>
                <td>{{ practice.county }}</td>
            </tr>
            <tr>
                <th scope="row">FIPS</th>
                <td>{{ practice.fips }}</td>
            </tr>
            <tr>
                <th scope="row">Program Components</th>
                <td>
                {% for component in practice.program_components %}
                    <span class="badge {% if component in program_components %}badge-info{% else %}badge-danger{% endif %}">{{ component }}</span>
                {% endfor %}
                </td>
            </tr>
            <tr>
                <th scope="row">Population</th>
                <td>
                {% for population in practice.population %}
                    <span class="badge {% if population in populations %}badge-info{% else %}badge-danger{% endif %}">{{ population }}</span>
                {% endfor %}
                </td>
            </tr>
        </tbody>
    </table>

    <hr class="my-4"/>

    <h6>Changelog:</h6>
    {% if comments|length == 0 %}
    <div class="mx-4 text-muted">
        Nothing did happen here so far
    </div>
    {% endif %}
    {% for comment in comments %}
        <div class="mb-4 mx-4">
            <div class="d-flex justify-content-between text-muted">
                <div class="d-flex justify-content-start">
                    <div class="font-weight-bold small {{ "text-info" if comment["user_id"] == g.user["id"] }}">{{ comment.full_name }}</div>
                    <div class="font-weight-bold small ml-2">(@{{ comment.user_name }})</div>
                </div>
                <div><small>{{ comment.created_on }}</small></div>
            </div>
            <div class="bg-light">{{ comment.comment|safe }}</div>
        </div>
    {% endfor %}
    <form class="my-4" action="{{ url_for("practice.comment", id=practice.id, query=query, page=page) }}" method="post">
        <textarea class="form-control" rows="3" name="comment" placeholder="Type your comments here"></textarea>
        <input class="btn btn-outline-info mt-2" type="submit" value="Comment"/>
    </form>

    <hr class="my-4"/>

    <div class="btn-toolbar justify-content-between my-4" role="toolbar">
        <div class="d-inline" role="group">
            <a class="btn btn-secondary mr-2" style="width: 90px;" href="{{ url_for("practice.index", page=page, query=query) }}">Back</a>
            {% if "EDIT_" + practice.status in g.permissions %}
                <a class="btn btn-primary" style="width: 80px;" href="{{ url_for("practice.edit", id=practice.id, page=page, query=query) }}">Edit</a>
            {% endif %}
        </div>
        {% if "DELETE_" + practice.status in g.permissions %}
            <a class="btn btn-outline-danger d-inline float-right" style="width: 90px;" href="{{ url_for('practice.delete', id=practice.id, title=practice.title, page=page, query=query) }}">Delete</a>
        {% endif %}
    </div>
{% endblock %}