{% extends 'base.html' %}

{% block title %}Review practice {{ practice.id }}{% endblock %}

{% block content %}
    <table class="table my-2">
        <thead class="thead-light">
            <tr>
                <th scope="col" style="width: 10%">Field</th>
                <th scope="col" style="width: 90%">Value</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">ID</th>
                <td>{{ practice.id }}</td>
            </tr>
            <tr>
                <th class="align-middle" scope="row">Status</th>
                <th class="align-middle" scope="row">
                    <div class="btn-toolbar justify-content-between">
                        <h5 class="mt-1"><span class="mt-1 badge {{ "badge-" + config.STATUS_BADGE_STYLE[practice.status] }}">{{ practice.status|capitalize }}</span></h5>
                        <form action="{{ url_for("practice.action", id=practice.id, query=query, page=page) }}" method="post">
                        {% for action in actions %}
                            {% if "ACTION_" + action["action"] in g.permissions %}
                                <input class="btn {{ config.ACTION_STYLE    [action["action"]] }}" style="width: 90px;" name="action" type="submit" value="{{ action["action"]|capitalize }}"/>
                            {% endif %}
                        {% endfor %}
                        </form>
                    </div>
                </th>
            </tr>
            <tr>
                <th scope="row">Title</th>
                <td>{{ practice.title }}</td>
            </tr>
            <tr>
                <th scope="row" class="d-flex"><span {% if practice.intervention_name not in config.INTERVENTION_NAMES %}class="flex-fill bg-warning" {% endif %}>Intervention name</span></th>
                <td>{{ practice.intervention_name }}</td>
            </tr>
            <tr>
                <th scope="row">Summary</th>
                <td>{{ practice.summary }}</td>
            </tr>
            <tr>
                <th scope="row">Link</th>
                <td><a href="{{ practice.link }}">{{ practice.link }}</a></td>
            </tr>
            <tr>
                <th scope="row">Citation</th>
                <td>{{ practice.citation }}</td>
            </tr>
            <tr>
                <th scope="row" class="d-flex"><span {% if practice.program_success not in config.PROGRAM_SUCCESSES %}class="flex-fill bg-warning" {% endif %}>Program success</span></th>
                <td>{{ practice.program_success }}</td>
            </tr>
            <tr>
                <th scope="row">City</th>
                <td>{{ practice.city }}</td>
            </tr>
            <tr>
                <th scope="row" class="d-flex"><span {% if practice.geography | reject("in", config.STATES) | first %}class="flex-fill bg-warning" {% endif %}>Geography</span></th>
                <td>
                {% for state in practice.geography %}
                    <span class="badge {% if state in config.STATES %}badge-info{% else %}badge-danger{% endif %}">{{ state }}</span>
                {% endfor %}
                </td>
            </tr>
            <tr>
                <th scope="row" class="d-flex"><span {% if practice.region | reject("in", config.REGIONS) | first %}class="flex-fill bg-warning" {% endif %}>Region</span></th>
                <td>
                {% for region in practice.region %}
                    <span class="badge {% if region in config.REGIONS %}badge-info{% else %}badge-danger{% endif %}">{{ region }}</span>
                {% endfor %}
                </td>
            </tr>
            <tr>
                <th scope="row" class="d-flex"><span {% if practice.source_type not in config.SOURCE_TYPES %}class="flex-fill bg-warning" {% endif %}>Source type</span></th>
                <td>{{ practice.source_type }}</td>
            </tr>
            <tr>
                <th scope="row" class="d-flex"><span {% if practice.race | reject("in", config.RACES) | first %}class="flex-fill bg-warning" {% endif %}>Race</span></th>
                <td>
                {% for race in practice.race %}
                    <span class="badge {% if race in config.RACES %}badge-info{% else %}badge-danger{% endif %}">{{ race }}</span>
                {% endfor %}
                </td>
            </tr>
            <tr>
                <th scope="row" class="d-flex"><span {% if practice.intervention_goal | reject("in", config.INTERVENTION_GOALS) | first %}class="flex-fill bg-warning" {% endif %}>Intervention goal</span></th>
                <td>
                {% for intervention_goal in practice.intervention_goal %}
                    <span class="badge {% if intervention_goal in config.INTERVENTION_GOALS %}badge-info{% else %}badge-danger{% endif %}">{{ intervention_goal }}</span>
                {% endfor %}
                </td>
            </tr>
            <tr>
                <th scope="row" class="d-flex"><span {% if practice.implementers | reject("in", config.IMPLEMENTERS) | first %}class="flex-fill bg-warning" {% endif %}>Implementers</span></th>
                <td>
                {% for implementer in practice.implementers %}
                    <span class="badge {% if implementer in config.IMPLEMENTERS %}badge-info{% else %}badge-danger{% endif %}">{{ implementer }}</span>
                {% endfor %}
                </td>
            </tr>
            <tr>
                <th scope="row" class="d-flex"><span {% if practice.scale | reject("in", config.SCALES) | first %}class="flex-fill bg-warning" {% endif %}>Scale</span></th>
                <td>
                {% for scale in practice.scale %}
                    <span class="badge {% if scale in config.SCALES %}badge-info{% else %}badge-danger{% endif %}">{{ scale }}</span>
                {% endfor %}
                </td>
            </tr>
            <tr>
                <th scope="row" class="d-flex"><span {% if practice.country | reject("in", config.COUNTRIES) | first %}class="flex-fill bg-warning" {% endif %}>Country</span></th>
                <td>
                {% for country in practice.country %}
                    <span class="badge {% if country in config.COUNTRIES %}badge-info{% else %}badge-danger{% endif %}">{{ country }}</span>
                {% endfor %}
                </td>
            </tr>
            <th scope="row" class="d-flex"><span {% if practice.program_components | reject("in", config.PROGRAM_COMPONENTS) | first %}class="flex-fill bg-warning" {% endif %}>Program components</span></th>
                <td>
                {% for program_component in practice.program_components %}
                    <span class="badge {% if program_component in config.PROGRAM_COMPONENTS %}badge-info{% else %}badge-danger{% endif %}">{{ program_component }}</span>
                {% endfor %}
                </td>
            </tr>
            <tr>
                <th scope="row" class="d-flex"><span {% if practice.population | reject("in", config.POPULATIONS) | first %}class="flex-fill bg-warning" {% endif %}>Population</span></th>
                <td>
                {% for population in practice.population %}
                    <span class="badge {% if population in config.POPULATIONS %}badge-info{% else %}badge-danger{% endif %}">{{ population }}</span>
                {% endfor %}
                </td>
            </tr>
        </tbody>
    </table>

    <hr class="my-4"/>

    <div class="mx-2">
        <h6>Changelog:</h6>
        {% if comments|length == 0 %}
        <div class="mx-4 text-muted">
            Nothing did happen here so far
        </div>
        {% endif %}
        {% for comment in comments %}
            <div class="mb-4 mx-4">
                <div class="d-flex justify-content-between text-muted">
                    <div class="d-flex justify-content-start">
                        <div class="font-weight-bold small {{ "text-info" if comment["user_id"] == g.user["id"] }}">{{ comment.full_name }}</div>
                        <div class="font-weight-bold small ml-2">(@{{ comment.user_name }})</div>
                    </div>
                    <div><small id="t{{ loop.index0 }}">{{ comment.created_on }}</small></div>
                </div>
                <div class="bg-light">{{ comment.comment|safe }}</div>
            </div>
        {% endfor %}
        <form class="my-4" action="{{ url_for("practice.comment", id=practice.id, query=query, page=page) }}" method="post">
            <textarea class="form-control" rows="3" name="comment" placeholder="Type your comments here"></textarea>
            <input class="btn btn-outline-info btn-sm mt-3" type="submit" value="Comment"/>
        </form>
    </div>

    <hr class="my-4"/>

    <div class="btn-toolbar justify-content-between my-4" role="toolbar">
        <div class="d-inline" role="group">
            <a class="btn btn-secondary mr-2" style="width: 90px;" href="{{ url_for("practice.index", page=page, query=query) }}">Back</a>
            {% if "EDIT_" + practice.status in g.permissions %}
                <a class="btn btn-primary" style="width: 80px;" href="{{ url_for("practice.edit", id=practice.id, page=page, query=query) }}">Edit</a>
            {% endif %}
        </div>
        {% if "DELETE_" + practice.status in g.permissions %}
            <a class="btn btn-outline-danger d-inline float-right" style="width: 90px;" href="{{ url_for('practice.delete', id=practice.id, title=practice.title, page=page, query=query) }}">Delete</a>
        {% endif %}
    </div>

    <script>
        convertTimeDateToLocal({{ comments|length }});
    </script>
{% endblock %}