{% extends 'base.html' %}

{% block title %}Edit Practice # {{ practice.id }}{% endblock %}

{% block content %}
    <form method="post">
        <input type="hidden" name="id" value="{{ practice.id }}">

        <table class="table my-2">
            <thead class="thead-light">
                <tr>
                    <th scope="col" style="width: 10%">Field</th>
                    <th scope="col" style="width: 90%">Value</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">ID</th>
                    <td>{{ practice.id }}</td>
                </tr>
                <tr>
                    <input type="hidden" name="status" value="{{ practice.status }}">
                    <th scope="row">Status</th>
                    <td><h5><span class="badge {{ styles[practice.status] }}">{{ practice.status|capitalize }}</span></h5></td>
                </tr>
                <tr >
                    <th scope="row">Title</th>
                    <td>
                        <textarea class="form-control" name="title">{{ practice.title }}</textarea>
                    </td>
                </tr>
                <tr >
                    <th scope="row">Name of Intervention</th>
                    <td>
                        <textarea class="form-control" name="name_of_intervention">{{ practice.name_of_intervention }}</textarea>
                    </td>
                </tr>
                <tr >
                    <th scope="row">Summary</th>
                    <td>
                        <textarea class="form-control" rows="5" name="summary">{{ practice.summary }}</textarea>
                    </td>
                </tr>
                <tr >
                    <th scope="row">Target Population</th>
                    <td>
                        <textarea class="form-control" name="target_population">{{ practice.target_population }}</textarea>
                    </td>
                </tr>
                <tr >
                    <th scope="row">Location</th>
                    <td>
                        <textarea class="form-control" rows="1" name="location">{{ practice.location }}</textarea>
                    </td>
                </tr>
                <tr >
                    <th scope="row">Evaluation</th>
                    <td>
                        <textarea class="form-control" rows="5" name="evaluation">{{ practice.evaluation }}</textarea>
                    </td>
                </tr>
                <tr >
                    <th scope="row">State</th>
                    <td>
                        <select class="custom-select" multiple name="state">
                            {% for state in states %}
                                <option {% if state in practice.state %}selected{% else %}{% endif %} value="{{ state }}">{{ state }}</option>
                            {% endfor %}
                            {% for state in (practice.state | reject('in', states)) %}
                                <option class="text-danger" selected value="{{ state }}">{{ state }}</option>
                            {% endfor %}
                        </select>
                    </td>
                </tr>
                <tr >
                    <th scope="row">Citation</th>
                    <td>
                        <textarea class="form-control" name="citation">{{ practice.citation }}</textarea>
                    </td>
                </tr>
                <tr >
                    <th scope="row">Intervention Goal</th>
                    <td>
                        <select class="custom-select" multiple name="intervention_goal">
                            {% for goal in intervention_goals %}
                                <option {% if goal in practice.intervention_goal %}selected{% else %}{% endif %} value="{{ goal }}">{{ goal }}</option>
                            {% endfor %}
                            {% for goal in (practice.intervention_goal | reject('in', intervention_goals)) %}
                                <option class="text-danger" selected value="{{ goal }}">{{ goal }}</option>
                            {% endfor %}
                        </select>
                    </td>
                </tr>
                <tr >
                    <th scope="row">Implementers</th>
                    <td>
                        <select class="custom-select" multiple name="implementers">
                            {% for implementer in implementers %}
                                <option {% if implementer in practice.implementers %}selected{% else %}{% endif %} value="{{ implementer }}">{{ implementer }}</option>
                            {% endfor %}
                            {% for implementer in (practice.implementers | reject('in', implementers)) %}
                                <option class="text-danger" selected value="{{ implementer }}">{{ implementer }}</option>
                            {% endfor %}
                        </select>
                    </td>
                </tr>
                <tr >
                    <th scope="row">County</th>
                    <td>
                        <textarea class="form-control" rows="1" name="county">{{ practice.county }}</textarea>
                    </td>
                </tr>
                <tr >
                    <th scope="row">FIPS</th>
                    <td>
                        <textarea class="form-control" rows="1" name="fips">{{ practice.fips }}</textarea>
                    </td>
                </tr>
                <tr >
                    <th scope="row">Program Components</th>
                    <td>
                        <select class="custom-select" multiple name="program_components">
                            {% for component in program_components %}
                                <option {% if component in practice.program_components %}selected{% else %}{% endif %} value="{{ component }}">{{ component }}</option>
                            {% endfor %}
                            {% for component in (practice.program_components | reject('in', program_components)) %}
                                <option class="text-danger" selected value="{{ component }}">{{ component }}</option>
                            {% endfor %}
                        </select>
                    </td>
                </tr>
                <tr >
                    <th scope="row">Population</th>
                    <td>
                        <select class="custom-select" multiple name="population">
                            {% for population in populations %}
                                <option {% if population in practice.population %}selected{% else %}{% endif %} value="{{ population }}">{{ population }}</option>
                            {% endfor %}
                            {% for population in (practice.population | reject('in', populations)) %}
                                <option class="text-danger" selected value="{{ population }}">{{ population }}</option>
                            {% endfor %}
                        </select>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="btn-toolbar justify-content-between my-4" role="toolbar">
            <div role="group">
                <a class="btn btn-secondary mr-2" style="width: 90px;" href="{{ url_for("practice.details", id=practice.id, page=page, query=query) }}">Cancel</a>
                <button class="btn btn-danger" style="width: 80px;" type="submit">Save</button>
            </div>
        </div>
    </form>
{% endblock %}
