{% extends 'base.html' %}

{% block title %}Log In{% endblock %}

{% block content %}
    <form method="post">
        <div class="card my-2">
            <div class="card-header">
                Log In into Promising Practices Data
            </div>
            <div class="card-body">
                <div class="form-group">
                    <label for="username">Username</label>
                    <input class="form-control" name="username" id="username" placeholder="Enter username">
                    <small id="usernameHelp" class="form-text text-muted">Use admin::admin or user::user</small>
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" name="password" id="password" placeholder="Password">
                </div>
                <button type="submit" class="btn btn-primary">Log In</button>
            </div>
        </div>
    </form>
{% endblock %}