<!DOCTYPE html>
<!--[if IE 8]>
<html class="no-js lt-ie9" lang="en">
<![endif]-->
<!--[if gt IE 8]>
<!-->
<html class="no-js" lang="en">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width">
    <title>
        Banana
    </title>
    <link rel="stylesheet" href="css/bootstrap.light.min.css" title="Light">
    <link rel="stylesheet" href="css/timepicker.css">
    <link rel="stylesheet" href="css/animate.min.css">
    <link rel="stylesheet" href="css/normalize.min.css">
    <link rel="stylesheet" href="css/rotate.css">
    <link rel="stylesheet" href="css/ui.css">
    <link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i&amp;subset=latin-ext"
        rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ"
        crossorigin="anonymous">
    <link rel="apple-touch-icon" href="img/apple-touch-icon.png">
    <link rel="shortcut icon" href="img/opioidfav.ico" type="image/x-icon">
    <script src="vendor/require/require.js">
    </script>
    <script src="app/components/require.config.js">
    </script>
    <script>
        require(['app'], function () { })
    </script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-128677106-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-128677106-1');
    </script>
</head>

<body ng-cloak="">
    <link rel="stylesheet" ng-href="css/bootstrap.{{dashboard.current.style||'dark'}}.min.css">
    <link rel="stylesheet" href="css/bootstrap-responsive.min.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <div ng-repeat="alert in dashAlerts.list" class="alert-{{alert.severity}} dashboard-notice" ng-show="$last" style="position:fixed">
        <button type="button" class="close" ng-click="dashAlerts.clear(alert)" style="padding-right:50px">
            &times;
        </button>

        <strong>
            {{alert.title}}
        </strong>

        <span ng-bind-html-unsafe="alert.text">
        </span>
        <div style="padding-right:10px" class="pull-right small">
            {{$index + 1}} alert(s)
        </div>
    </div>
    <div class="navbar navbar-static-top">
        <div class="navbar-inner">
            <div class="container-fluid dashboard-header">
                <!-- <h1 style="color: white; display: inline;">
                    Promising Practices Dashboard
                </h1> -->
                <img class="pull-left dashboard-logo" src="img/CORRD-logo-white.svg" style="margin-right:10px; width: 255px;"
                    data-placement="bottom" width="40">
                <span class="brand">
                    {{dashboard.current.title}}
                </span>
                <ul class="nav pull-right" ng-controller="dashLoader" ng-init="init()" ng-include="'app/partials/dashLoader.html'">
                </ul>
            </div>
        </div>
    </div>
    <div class="container-fluid main">
        <div class="row-fluid">
            <div ng-view="">
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row footer" id="footer">
            <div class="span3">
                <img src="img/B_AIR_LeftJustified_Reverse@2x.svg" alt="american institutes for research logo">
            </div>
            <div class="span5">
                <p>AIR is one of the world's largest behavioral and social science research and evaluation
                    organizations. Our overriding goal is to use the best science available to bring the most effective
                    ideas and approaches to enhancing everyday life. For us, making the world a better place is not
                    wishful thinking. It is the goal that drives us.</p>
                <p class="copyright-date">
                    Copyright 2018, AIR.org
                </p>
            </div>
            <div class="span2">
                <ul>
                    <li>
                        <a href="https://www.air.org/about-us" target="_blank">About AIR</a>
                    </li>
                    <li>
                        <a href="https://www.air.org/center/center-multi-system-solutions-opioid-epidemic">AIR's Opioid
                            Center</a>
                    </li>
                    <li>
                        <a href="https://www.air.org/services" target="_blank">All AIR Services</a>
                    </li>
                </ul>
            </div>
            <div class="span2 social">
                <p>Follow us: </p>
                <br>
                <a class="social-icon youtube-icon" href="https://www.youtube.com/user/AmInstForResearch" target="_blank">
                    <i class="fab fa-youtube"></i>
                </a>
                <a class="social-icon twitter-icon" href="https://twitter.com/air_info?lang=en" target="_blank">
                    <i class="fab fa-twitter"></i>
                </a>
                <a class="social-icon facebook-icon" href="https://www.facebook.com/AmericanInstitutesforResearch/"
                    target="_blank">
                    <i class="fab fa-facebook-f"></i>
                </a>
            </div>
        </div>
    </div>
</body>

</html>